/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Josefin Sans', Verdana, Geneva, sans-serif;
}
/*only use inverted commas for fonts with spaces, and fonts must start with capital letter*/
html, body{
    background-color: #ffeee1;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #1accb1;
    color: #76321d;
}
header{
    border-bottom: 0.8rem solid #06332c;
    background-color: #647f57;
    color: #a1cc8b;
}
/*add fonts, colours, etc to codes above*/
/*horizontal menu*/
.menu-h{
    width: 100%;
}
    .menu-h li{
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
        
        list-style: none;
        float:left;
        width: 20%;
        text-align: center;
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text. change the colour*/
            
            text-decoration: none;
            display: block;
            color: #01007c;
            padding: 1px;
        
        }
        .menu-h a:hover,
        .menu-h a:active{
            font-style: italic;
            background-color: #5e0000;
            color: #ffeee1;
        }

/*vertical menu*/
.menu-v{
    width: 20%;
    float:left;
}



    .menu-v li{
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
        
        width:100%;
        list-style: none;
        
        
    }




        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            /* style the anchors to fill the entire width of the li */
            width: 100%;
            color: #01007c;
            text-decoration: none;
            padding: 1px;
            display: block;
            
            
}
        .menu-v a:hover,
        .menu-v a:active{
            color: #ac736d;
            background-color: #ff203c;
            font-style: oblique;
        
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}